[2021-09-01 08:25] maxceem opened #1 "Cannot load gigs list on PROD"
When I open page https://platform.topcoder.com/earn/my-gigs?status=Active%20Gigs or https://platform.topcoder.com/earn/my-gigs?status=Open%20Applications the loading never ends. I see some API requests failed in the browser console.

![image](https://user-images.githubusercontent.com/146016/131638183-8898829c-737f-4900-bd04-dfea59fcdd01.png)

[2021-09-05 09:25] LieutenantRoger commented on #1
@maxceem
Could you please try using `incognite` mode of browser one more time and let me know ?

I just tried and it worked fine to me.

BTW, we haven't deploy the new GiG app yet. :)

[2021-09-05 09:49] maxceem commented on #1
@LieutenantRoger in incognito mode the same:

![image](https://user-images.githubusercontent.com/146016/132122516-b59b31a8-8e66-4c05-9e4d-f7f4c883360c.png)

I guess the data for my account is in such a shape that it causes this error.

Yeah, it looks like this is an existent issue not caused by the recent changes in DEV.

[2021-09-06 05:16] LieutenantRoger commented on #1
Ops, @maxceem  thanks for the snapshot.

I'll ask to see if we can track down the backend API servers to see if we are able to identify the root cause for it.

[2021-09-13 15:09] SathyaJayabal commented on #1
@maxceem , can you still not load my gigs ?

[2021-09-13 15:10] SathyaJayabal opened #6 "Earn App Restructure"
https://www.topcoder.com/challenges/d8baa61a-4f17-4cb8-bb93-5159c16dd116

[2021-09-13 15:12] #6 closed

[2021-09-13 15:16] maxceem commented on #1
yeah @SathyaJayabal still the same issue

![image](https://user-images.githubusercontent.com/146016/133110511-8f8d5b5e-ac77-4113-8b63-251fe172e6e0.png)

[2021-09-16 05:07] LieutenantRoger commented on #1
@SathyaJayabal @urwithat  I think we will need to track down the gigs server, we should have the actual error log printed out in the console.  FYI @maxceem

[2021-09-16 05:10] LieutenantRoger commented on #1
I will seek help from @urwithat to check the logs. We missed the issue when we released gigs-app.

[2021-09-27 10:09] SathyaJayabal opened #9 "Jobs Aggregator API for gigs listings"
https://docs.google.com/document/d/16Yrf9plQk5k0o2li-GR3KxK3uvklc3suhcG-qe-4cXM/edit#heading=h.44se0uyuwhtj

[2021-09-27 10:54] SathyaJayabal commented on #9
@LieutenantRoger
1. total, page and perPage should be part of headers, like for /myJobApplications instead of in the body
<img width="1440" alt="Screenshot 2021-09-27 at 4 09 34 PM" src="https://user-images.githubusercontent.com/58783823/134893493-7112eb4b-92d0-4f90-b8af-7caf8dc6229a.png">

2. sortBy=createdAt&sortOrder=desc  and  sortBy=updatedAt&sortOrder=desc  and  is not working
<img width="14

[2021-09-27 15:30] LieutenantRoger commented on #9
@SathyaJayabal
1, This is fixed.

2. The sort order looks correct to me. I'm not sure about your data. But I have added createdAt and updatedAt fields in the proxy API response as well, please check the values directly in the proxy API response.

3. It seems you are visiting the `page=5 and perPage=10` in the proxy API, so you need to make sure you have at least 51 jobs that having the `SEP 27` ti

[2021-09-27 16:15] SathyaJayabal commented on #9
@LieutenantRoger , the body had had some skills in the postman example, which i dont notice. Will test the sort and filters tomm again, thanks.

[2021-09-28 05:28] LieutenantRoger commented on #1
This issue has been resolved and be online already.

[2021-10-01 06:25] SathyaJayabal opened #10 "Jobs Proxy API Changes"
https://docs.google.com/document/d/1kndArEmXkSrcW2E5tsscHpJ8ATxdTubBPyjKcAppaSM/edit

Summary:
1.  Support to pass specialJob=true param

2.  Support to filter the response to include all the featured jobs and 3 hotlist jobs at most.

3. The Job response proxy API,  we need to include below 4 fields:
[code]

[2021-10-01 06:26] SathyaJayabal commented on #10
@LieutenantRoger the new filter `specialJob=true` is not returning some featured jobs, for example:
`58d5ef53-1572-432b-a781-a8f1ab228f59`

[2021-10-01 08:34] SathyaJayabal commented on #10
verified on dev
https://docs.google.com/spreadsheets/d/1m1kdyQUidnaZe_Rrm_Fmvq3FKhwQjNWI/edit#gid=1592068892

[2021-10-05 04:15] SathyaJayabal opened #11 "Keep Find Work expanded when user lands on https://platform.topcoder.com/earn/gigs"
Keep Find Work expanded when user lands on https://platform.topcoder.com/earn/gigs

[2021-10-05 04:17] SathyaJayabal opened #12 "All available Locations should be present in the location filter when user accesses the Gigs listings"
All available Locations should be present in the location filter when user accesses the Gigs listings

discussion:
https://topcoder.slack.com/archives/C020Y9C74G6/p1633363600104300?thread_ts=1633357648.098100&cid=C020Y9C74G6

[2021-10-05 04:19] SathyaJayabal opened #13 "Location Dropdown"
Can we add the Anywhere option in the  filter, for cases where location is not present?

[2021-10-05 04:24] SathyaJayabal opened #14 "Sort Options : Ascending"
@Oanh-and-only-Oanh , Do we need the Ascending options? We dont have those options in Community app.

<img width="291" alt="Screenshot 2021-10-05 at 9 50 43 AM" src="https://user-images.githubusercontent.com/58783823/135959701-54c6267b-1b52-4852-9f27-b72e12ccacd9.png">

[2021-10-05 06:10] LieutenantRoger commented on #13
Currently, when we search the jobs based on location, we try to use the text to perform wildcard match with the jobLocation field.

So if a jobLocation is null or empty, it won't match 'Anywhere' text as well.

To show job with jobLocation is null or empty, user has to choose 'All' option, as if 'All' option is selected, we won't filter jobs based on location.

[2021-10-05 06:12] LieutenantRoger commented on #11
ok, I'll make the `My Work` expended if user lands on `https://platform.topcoder.com/earn/my-gigs`, too.

To be align with `Find Work`

[2021-10-05 06:13] #13 closed

[2021-10-05 06:13] LieutenantRoger commented on #14
ok, will remove them to be align with comm app

[2021-10-07 03:47] SathyaJayabal commented on #12
We  are going with current approach of loading location dropdown as and when user loads the gigs

https://topcoder.slack.com/archives/C020Y9C74G6/p1633577731118200?thread_ts=1633357648.098100&cid=C020Y9C74G6

[2021-10-07 03:47] #12 closed

[2021-10-07 05:42] SathyaJayabal opened #15 "Gigs listings on MFE"
Gigs listings on MFE
https://www.topcoder.com/challenges/c295782a-398a-48aa-b8a5-f904cee64155
https://www.topcoder.com/challenges/80e44ded-ded7-4aa8-a700-57dd506ef6e1
https://www.topcoder.com/challenges/adde63bb-b606-474f-a0c7-e1937d82eeda

[2021-10-07 05:43] SathyaJayabal commented on #11
verified on dev

[2021-10-07 10:11] sandhiyakavi opened #16 "$ symbol not getting displayed if there is only max amount for a Gig"
Description:

$ symbol not getting displayed if there is only max amount for a Gig

![image](https://user-images.githubusercontent.com/55895538/136364801-0c1ba474-02c6-4ec5-b48c-c209a7107eb2.png)

[2021-10-07 10:14] sandhiyakavi opened #17 "Validation message if the Weekly payment From value is less than To value"
Description:
Validation message if the Weekly payment From value is less than To value

![image](https://user-images.githubusercontent.com/55895538/136365307-68191c29-ecc7-4689-a501-bae7d6399d09.png)

[2021-10-07 13:52] LieutenantRoger commented on #17
We don't have a design regarding how to display the error message. Please clarify a bit how to handle this.  @SathyaJayabal @sandhiyakavi

[2021-10-08 05:02] sandhiyakavi opened #18 "Topcoder Referral link not loading"
Description:
Topcoder Referral link is not loading.

Note: It is working fine in Dev Community app

![image](https://user-images.githubusercontent.com/55895538/136501091-6b98f55b-094d-438a-96bb-fcddcd3bf568.png)

[2021-10-08 05:10] sandhiyakavi opened #19 "Special gigs are displaying in all the pages"
Description:

Special gigs are displaying in all the pages

https://user-images.githubusercontent.com/55895538/136501731-a8a17e0d-ac3e-48ff-adf3-136cceb7778b.mp4

[2021-10-08 05:14] sandhiyakavi commented on #16
Verified on Dev Env.

![image](https://user-images.githubusercontent.com/55895538/136502072-d2826433-6e3a-4ecd-b62d-d4a69804f65c.png)

[2021-10-08 05:40] sandhiyakavi commented on #17
@LieutenantRoger

1. Error message for the Weekly payment is still displaying even after clicking the Clear Filter button.

![image](https://user-images.githubusercontent.com/55895538/136503121-a33ae6a9-a8df-45aa-bf5d-f6abe8971930.png)

2. If we set some number in From field and try to edit the To field, we are not able to enter numbers and  it is populating with some default values 100, 1000, 100

[2021-10-08 08:03] sandhiyakavi opened #20 "Some skills listed under Skills/Technologies textbox are duplicated"
Description:

Some skills listed under Skills/Technologies textbox are duplicated. It's happening since the Skills from all the Skill providers are displayed. Filtering the skills by Skill provider ID/TaxonomyID will rectify the problem.

Note: The skills displayed in Taas app are filtered by the Skill provider 'Topcoder'

![image](https://user-images.githubusercontent.com/55895538/136520015-da21c

[2021-10-11 03:17] SathyaJayabal commented on #19
verified on dev. special jobs are displayed only on the first page.
<img width="1440" alt="Screenshot 2021-10-11 at 8 46 20 AM" src="https://user-images.githubusercontent.com/58783823/136728495-9b56cfc1-c430-43ad-bfc9-ded0e824a80c.png">

[2021-10-11 03:20] SathyaJayabal opened #21 "Filters and search must apply to special jobs also"
Filters and search must apply to special jobs also

[2021-10-11 03:21] SathyaJayabal opened #22 "Normal jobs must exclude special jobs"
Normal jobs must exclude special jobs

[2021-10-11 03:30] SathyaJayabal commented on #21
ref:
https://topcoder.slack.com/archives/C020Y9C74G6/p1633722911133100?thread_ts=1633663594.125200&cid=C020Y9C74G6

[2021-10-11 03:31] SathyaJayabal commented on #22
ref:https://topcoder.slack.com/archives/C020Y9C74G6/p1633719674132600?thread_ts=1633663594.125200&cid=C020Y9C74G6

[2021-10-11 09:16] SathyaJayabal commented on #20
verified on prod
<img width="1440" alt="Screenshot 2021-10-11 at 2 45 40 PM" src="https://user-images.githubusercontent.com/58783823/136765230-c7690446-664a-43d3-bd91-6452677abf23.png">

[2021-10-11 09:16] #20 closed, assigned to LieutenantRoger

[2021-10-11 09:16] #19 closed, assigned to LieutenantRoger

[2021-10-11 09:17] SathyaJayabal commented on #19
We dont have special gigs on production at present to  verify this scenario

[2021-10-11 09:20] SathyaJayabal commented on #16
No such example in prod.

[2021-10-11 09:20] #16 closed

[2021-10-11 09:21] SathyaJayabal commented on #14
verified on prod
<img width="1440" alt="Screenshot 2021-10-11 at 2 51 26 PM" src="https://user-images.githubusercontent.com/58783823/136766041-d5ed41bf-bc9e-426f-bdaa-7e16ada3be33.png">

[2021-10-11 09:21] #14 closed

[2021-10-11 09:27] #10 closed

[2021-10-11 09:31] SathyaJayabal commented on #9
verified on prod
<img width="1440" alt="Screenshot 2021-10-11 at 3 00 26 PM" src="https://user-images.githubusercontent.com/58783823/136767408-edda35f4-17f5-48e0-bceb-8a1f9c8f51ad.png">

[2021-10-11 09:32] SathyaJayabal commented on #17
verified on prod
![Uploading Screenshot 2021-10-11 at 3.01.52 PM.png…]()

[2021-10-11 09:32] #17 closed, assigned to LieutenantRoger

[2021-10-11 09:35] #15 closed, assigned to nobody

[2021-10-13 04:22] sandhiyakavi commented on #22
Verified in Dev Env.

Now,
1. If a job is only "showInHotList": true and is visible/not visible in the Hotlist (rectangular area) the job is shown along with the normal jobs too.
2. If a job is 'featured'=true, it is visible only in the special jobs (top of the listings) and is not duplicated.

[2021-10-14 05:09] sandhiyakavi opened #26 "Nice to have: Message if there is no gig satisfying the filter."
Description:

It would be nice to display some message if no gig is satisfying the filter applied.

![image](https://user-images.githubusercontent.com/55895538/137255496-da288e8f-ad44-4ea8-8520-c97eea4ae313.png)

In Community app Gig listing page, "No Results" message is getting displayed.

![image](https://user-images.githubusercontent.com/55895538/137255560-2fe81bf1-ea7d-43b2-8589-8f099581225b.p

[2021-10-18 09:37] SathyaJayabal opened #29 "Apply filter rcrmStatus=open for jobs displayed on gigs listings"
Apply filter rcrmStatus=open for jobs displayed on gigs listings

[2021-10-25 05:56] SathyaJayabal opened #32 "The gigs-app/api/my-gigs/job endpoint must require externalId param"
The `gigs-app/api/my-gigs/job` endpoint must require `externalId` param

[2021-10-25 09:00] sandhiyakavi opened #33 "hoursPerWeek field is missing in GET/job and GET/jobs endpoints"
Description:
hoursPerWeek field is missing in GET/job and GET/jobs endpoints

![image](https://user-images.githubusercontent.com/55895538/138666619-b2708cff-ee4a-483a-9269-d485eaade652.png)

![image](https://user-images.githubusercontent.com/55895538/138666521-310a9224-f415-4b74-85dc-5e9db868026b.png)

[2021-10-25 09:54] #26 closed, assigned to LieutenantRoger

[2021-10-25 09:55] #29 closed, assigned to nobody

[2021-10-25 09:57] #22 closed, assigned to LieutenantRoger

[2021-10-25 09:58] #21 closed, assigned to LieutenantRoger

[2021-10-28 11:58] LieutenantRoger opened #36 "The referralId presented on the gigs-listing screen should be persistent in the cookie as well"

[2021-10-28 12:14] #36 closed, assigned to LieutenantRoger

[2021-10-30 03:05] LieutenantRoger opened #42 "Page indicator is very long"
Steps:
1. Visit the challenges page: https://platform.topcoder.com/earn/find/challenges
2. Now visit the gigs page by clicking the Gigs menu on the left
3. Scroll down the page and visit the page indicator at the bottom

Actual Result：

The per page dropdown box is very long:

https://monosnap.com/file/mfKwoULURCOwWKAD20aGrTySCpL9R2

Expected:

The per page dropdown box should keep the size when w

[2021-11-01 05:08] SathyaJayabal opened #43 "Error: Failed to get gigs details when loading the gigs details page"
Error: Failed to get gigs details  when loading the gigs details page. This issue is intermittent .
<img width="1440" alt="Screenshot 2021-11-01 at 9 03 01 AM" src="https://user-images.githubusercontent.com/58783823/139624309-415a0f15-7fd3-4079-9f12-60f5f57cc59d.png">

https://user-images.githubusercontent.com/58783823/139624301-9af8f791-391a-49ff-a26c-57887630d685.mov

[2021-11-01 05:13] SathyaJayabal opened #44 "Message "YOU MUST BE A TOPCODER MEMBER TO APPLY!" is displayed even though the user is logged in"
Message "YOU MUST BE A TOPCODER MEMBER TO APPLY!" is displayed even though the user is logged in

On refreshing the page, the apply page is displayed.
<img width="1440" alt="Screenshot 2021-11-01 at 10 34 37 AM" src="https://user-images.githubusercontent.com/58783823/139624429-0a02cacd-35d8-489d-b41e-937fe68b5987.png">

https://user-images.githubusercontent.com/58783823/139624640-5df97769-ee7c-4cd

[2021-11-01 05:16] SathyaJayabal opened #45 "Validation error are displayed by default"
When a user clicks on apply button, the validation errors are displayed by default.
 the validation errors must be displayed
expected : The validation errors must be displayed, only when the user clicks on the "Apply to this Job" Button. Validation should be similar to the gigs apply [age on community page.

https://user-images.githubusercontent.com/58783823/139624852-f3fef24a-7e2c-4ddc-82a2-106ad

[2021-11-01 05:21] SathyaJayabal commented on #44
Note: the profile api call is failing
https://platform.topcoder-dev.com/gigs-app/api/my-gigs/profile
<img width="1440" alt="Screenshot 2021-11-01 at 10 47 35 AM" src="https://user-images.githubusercontent.com/58783823/139625004-a3825786-205e-469f-9dd5-cb29f7cd5049.png">

[2021-11-01 05:24] SathyaJayabal opened #46 "Country displays first entry if the user has not set their country"
1. login as a new user and apply to any gigs
2. Country displays first entry  "Austria"

expected: country should be empty if user has not set it yet

<img width="1440" alt="Screenshot 2021-11-01 at 10 53 41 AM" src="https://user-images.githubusercontent.com/58783823/139625421-1ed0de10-b141-4b29-8da8-2af7ddf9bc33.png">

[2021-11-01 05:25] sandhiyakavi commented on #33
@LieutenantRoger The hoursPerWeek field is displaying for GET/job now

![image](https://user-images.githubusercontent.com/55895538/139625426-f9133cae-6c26-4f98-8742-a986baa42796.png)

FYI This field is not displaying for GET/jobs (https://platform.topcoder-dev.com/gigs-app/api/my-gigs/jobs?page=1&perPage=100&sortBy=updatedAt&sortOrder=desc)

[2021-11-01 05:30] SathyaJayabal opened #47 "Minor UI issues"
1. The validation messages font must be smaller, similar to community app.
<img width="1440" alt="Screenshot 2021-11-01 at 10 57 17 AM" src="https://user-images.githubusercontent.com/58783823/139625695-15f927d8-9ef7-4e26-9d4b-7a0d2cc23445.png">

2. Field label for city filed is not displayed.
<img width="1440" alt="Screenshot 2021-11-01 at 10 57 58 AM" src="https://user-images.githubusercontent.co

[2021-11-01 05:49] SathyaJayabal opened #48 "The topcoder profile field should display the MFE profile"
The topcoder profile field should display the MFE profile
<img width="1440" alt="Screenshot 2021-11-01 at 11 16 54 AM" src="https://user-images.githubusercontent.com/58783823/139627432-83ac44e0-cf19-4d42-84b1-1f8970b3dfd3.png">

expected::
https://platform.topcoder-dev.com/profile/gigs_details

[2021-11-01 06:10] sandhiyakavi commented on #32
Verified in Dev Env.

![image](https://user-images.githubusercontent.com/55895538/139629122-8fae25a2-87d7-4205-a2d1-07776e694da6.png)

[2021-11-01 06:56] SathyaJayabal opened #49 "City and Country field data"
1. Go to the MFE gigs apply page. The city and country field data is loaded from member traits
<img width="1440" alt="Screenshot 2021-11-01 at 12 20 25 PM" src="https://user-images.githubusercontent.com/58783823/139632821-cdc051ed-b71f-4692-9dd6-bca22e6641a3.png">
2. Edit the fields to a different value and apply. These values are saved in rcrm.
<img width="1440" alt="Screenshot 2021-11-01 at 12 2

[2021-11-01 09:29] LieutenantRoger commented on #44
Yeah, if the profile API is failed, it makes sense to display above UI as if the current user is not having profile, we think he hasn't login, in another word, login user has to have a profile data. :)

Let me try to reproduce this.

[2021-11-01 09:36] SathyaJayabal commented on #44
@LieutenantRoger , logged in user necessarily will not have an rcrm profile. The rcrm profile will be created only after the first time the user applies to a job. But for users who have not applied to a job yet, we must display the apply page and not the login page.

To reproduce: Please register a new user and try to apply to any job.

[2021-11-01 09:45] LieutenantRoger commented on #44
Here, I mean the `topcoder profile`, but not `rcrm profile`, so even new user should have topcoder profile, such firstName, lastName, email

[2021-11-01 10:10] SathyaJayabal commented on #46
The country is picked from the country the user specified during registration

[2021-11-01 10:10] #46 closed

[2021-11-01 10:13] LieutenantRoger commented on #42
Couldn't reproduce it now. Closing it.

[2021-11-01 10:13] #42 closed

[2021-11-01 13:22] LieutenantRoger commented on #43
I seems not able to reproduce this

[2021-11-01 15:35] LieutenantRoger commented on #47
4, Actually the community-app seems also displaying 0.  But I think make it empty is better.

[2021-11-01 15:36] LieutenantRoger commented on #44
Please try more and see,  I actually found that Community-App is having similar behavior, see this snapshot:

https://monosnap.com/file/TS58sfaBmMaAdQqNi2dZcG1K9Neuco

[2021-11-02 04:30] sandhiyakavi commented on #45
Verified in Dev Env. Validation errors are not displayed by default now.

https://user-images.githubusercontent.com/55895538/139787090-a66e6062-8cad-4981-9261-3c44dc2ccaeb.mp4

[2021-11-02 05:09] sandhiyakavi commented on #47
Verified in Dev Env.

1. validation message font
![image](https://user-images.githubusercontent.com/55895538/139788852-7c2873a9-96e9-45e0-a544-a3ce14bf5e7e.png)

![image](https://user-images.githubusercontent.com/55895538/139788930-6639b9b2-a5de-4cc1-8b80-95cb02691d6f.png)

![image](https://user-images.githubusercontent.com/55895538/139789141-d467310f-9e2c-4516-b42a-79a22dba248a.png)

![image](htt

[2021-11-02 05:13] sandhiyakavi commented on #48
Verified in Dev env. Working as expected.

![image](https://user-images.githubusercontent.com/55895538/139790212-e6fcdcd4-2d6a-4faf-9e60-aa8987c063b3.png)

[2021-11-02 07:26] sandhiyakavi commented on #44
@LieutenantRoger @SathyaJayabal I tried to replicate this issue by creating a new user but didn't get this issue for that user

But tried with another existing user (TCConncopilot) and got the message even though he is already logged in.

![image](https://user-images.githubusercontent.com/55895538/139803409-bcc3fa35-f1db-488b-8cf2-0d6b2a537bab.png)

[2021-11-02 07:57] LieutenantRoger commented on #44
Can't reproduce on my side, TCConncopilot is working fine on my side, from your snapshot, it looks the profile API is failed.

https://monosnap.com/file/F9oyFBXYG5ujCAWrFtnLGttSdmDIQR

And I think it should be correct that the page shows you to login since we didn't get your profile back.

[2021-11-02 08:03] LieutenantRoger commented on #44
Hmm, maybe we can display a text showing that getting profile error message here.

[2021-11-02 08:14] sandhiyakavi opened #50 "UI Issues"
Description:

1. Validation message not showing for the mandatory fields "Tech Skills" and "How did you find out about Topcoder Gig Work?"

![image](https://user-images.githubusercontent.com/55895538/139805445-18a6b7c7-5452-45cc-8f95-0922e9825c2c.png)

2. The text in the Topcoder profile textbox is not fully getting displayed.
![image](https://user-images.githubusercontent.com/55895538/139808038-b

[2021-11-02 08:19] vikasrohit commented on #43
I saw something similar yesterday when trying to setup the gigs app locally.

[2021-11-02 08:22] vikasrohit commented on #44
Can we know the state of the nav bar from the gigs app? I mean if nav bar is showing member to be logged in and gigs app is showing member to be logged out, it would not be a good UX. If we can determine that nav bar is able to show logged in user (or if we can simply see cookies to determine a valid login session), and then profile api call fails to bring the profile of the user, we can show rath

[2021-11-02 08:23] LieutenantRoger commented on #44
https://monosnap.com/file/2R771w45xOSbWUJnhDqFxb11EgpmXg

[2021-11-02 08:24] sandhiyakavi opened #51 "Not able to apply to Gig if the more than 7 Tech skills"
Description:

Not able to apply to Gig if the more than 7 Tech skills

![image](https://user-images.githubusercontent.com/55895538/139810824-97b5ebd3-5c01-4c73-8838-3da2024529a5.png)

https://user-images.githubusercontent.com/55895538/139810981-900b0869-d9a9-49e2-a026-2ace44ae5b45.mp4

[2021-11-02 08:30] LieutenantRoger commented on #44
Here is a simulation for it: https://monosnap.com/file/7jdQUfXogSN8m4nsj5eJKnw8n3nnh8

We can turning the UI later

[2021-11-02 08:34] LieutenantRoger commented on #51
@sandhiyakavi  This is expected validation,

Please see Community-App:

https://monosnap.com/file/vBzworoVRX8QYrcHhSNJvyJyQQSzAg

[2021-11-02 08:45] sandhiyakavi commented on #51
@LieutenantRoger Yes, I compared it with Community app but I didn't get the validation message. Please see below screenshot.

![image](https://user-images.githubusercontent.com/55895538/139814143-acad6afd-e90b-4932-8339-e361cf2c2c51.png)

[2021-11-02 09:02] LieutenantRoger commented on #51
Hmmm, maybe you need to select the exact same skill items, this field calculates the skills total characters in literal, it doesn't calculate how many skills you have selected.

[2021-11-02 09:09] SathyaJayabal commented on #50
@sandhiyakavi for the 4. it means the sum of skill characters

[2021-11-02 09:10] SathyaJayabal commented on #51
@sandhiyakavi , the validation is the total sum of skill cahracters

[2021-11-02 09:11] sandhiyakavi commented on #51
@LieutenantRoger @SathyaJayabal  Yes, If the same skills are added I am getting the validation message.

![image](https://user-images.githubusercontent.com/55895538/139817968-6ea66b42-81d4-4420-9202-1f284eac3601.png)

[2021-11-02 09:12] sandhiyakavi commented on #51
Closing this issue as it is working as expected.

[2021-11-02 09:12] #51 closed

[2021-11-02 09:56] LieutenantRoger commented on #50
1. Both are added as the required fields
2. Hmm,  this seems due to the profile url is too long in MFE, but it is short in Community App. I think this is not an issue. See if the url is less, it will look like this: https://monosnap.com/file/w5PxNoSCLtkhHmkxUhTYiEpHcHPCx8
3. added "n/a" if the timezone is empty
4. Not an issue.

It's deploying, can validate about 10minutes

[2021-11-03 06:03] sandhiyakavi commented on #50
Verified in Dev Env.

![image](https://user-images.githubusercontent.com/55895538/140015430-6a8cb6a9-94c7-4943-9e29-203cfa578ec1.png)

3. n/a displaying now.

![image](https://user-images.githubusercontent.com/55895538/140015709-194eae94-2ca9-42ec-b8b8-66b77c1467d9.png)

[2021-11-03 06:15] sandhiyakavi opened #52 "Minor UI issue: Two asterisk symbol displaying in the Country field"
Description:

Two asterisk symbol displaying in the Country field

![image](https://user-images.githubusercontent.com/55895538/140016526-33b075a2-9c94-493b-a70b-1ce062778a0e.png)

[2021-11-03 08:33] LieutenantRoger commented on #43
I have been able to reproduce this issue, it's caused by large cookie sent along with the request of getting job detail info.

The challenges-app will generate a lot of cookies, so if you visit some challenges, the cookie data will be large, the token data is also very large .

I have doubled the limitation of a request header size for the server.  It should be enough now

[2021-11-03 08:36] LieutenantRoger commented on #49
We currently are using the Community-App API directly, this behavior is same with Community-App. So I think it should be fine for now.

If we would like to persist the profile change in member's topcoder profile on Gig Apply page, we then will need to build dedicated API for it.

@Oanh-and-only-Oanh  Please advise

[2021-11-03 08:48] sandhiyakavi commented on #52
Verified in Dev Env.

![image](https://user-images.githubusercontent.com/55895538/140031335-65bac3c9-0366-43d8-9da6-87940249fe99.png)

[2021-11-03 10:34] sandhiyakavi commented on #44
Not getting this issue now even with newly registered accounts. Gig Apply page is displaying now

[2021-11-08 11:04] codejamtc opened #54 "Loading message is not displayed once the user applies for the gig"
Verify whether the loading message is displayed once the user applies for the gig (https://prnt.sc/1w7l5j8)

![bandicam 2021-11-08 16-36-31-859](https://user-images.githubusercontent.com/42398485/140731545-6ea8ed26-75e7-46d7-a398-2dc5acbf619f.jpg)

https://user-images.githubusercontent.com/42398485/140731572-10aa2daf-8009-41e1-808c-60a8051228cd.mp4

[2021-11-08 11:04] codejamtc opened #55 "User can apply to the same gig again and again"
User can apply to the same gig again and again #55

1. Open the application and login
2. Open the gig listing page and click on the https://platform.topcoder-dev.com/earn/gigs/16333315679080010128hMz
3. Click Apply and complete the form and submit
4. When all completed click on the 'GO TO GIGS LIST' from the submit confirmation page
5. Click on the same gig
6. Click 'Apply to this Job' button and

[2021-11-08 11:06] sandhiyakavi opened #56 "The userhandle link of the Update Resume pop up should direct to the MFE user profile page"
Description:

The userhandle link of the Update Resume pop up should direct to the MFE user profile page.

It is currently directing to https://community-app.topcoder-dev.com/members/topacc_three but it should direct to https://platform.topcoder-dev.com/profile/topacc_three

![image (13)](https://user-images.githubusercontent.com/55895538/140731182-d61bc0c6-a8e3-419b-8be3-7fd630068ac2.png)

[2021-11-08 11:07] codejamtc opened #57 "User is not able to open and view the already uploaded Resume"
User is not able to open and view the already uploaded Resume

https://user-images.githubusercontent.com/42398485/140731602-36e18bdb-ad64-4857-bcba-68408741b134.mp4

[2021-11-08 11:14] #57 closed

[2021-11-08 11:15] LieutenantRoger commented on #57
@codejamtc I think you meant that user is able to manually apply the same gig twice ?

[2021-11-08 11:22] SathyaJayabal commented on #55
@LieutenantRoger , this is due to caching. Apply button will hide only when we refresh the page.

[2021-11-08 11:25] codejamtc commented on #57
@LieutenantRoger This one works; sorry about that

[2021-11-08 11:30] LieutenantRoger commented on #55
Hmmm, good catch.  Just FYI, we support /gigs/{gigId}/apply to visit the gig apply page directly, so actually one member still is able to re-apply by using browser url directly to apply the same gig.

But let me check the code and see to disable the cache of the gig detail information, so we prevent member from applying the same gig directly from UI.

[2021-11-08 13:37] codejamtc opened #58 "RESUME UPDATED! popup displayed again when we go to the My gig page"
https://user-images.githubusercontent.com/42398485/140751632-10118a49-bdd7-478f-8be2-d6181fc696c6.mp4

[2021-11-08 13:53] codejamtc opened #59 "'Weekly Payment' filter is incorrect"
- Set the Weekly Payment = 500 - 1000 and apply

![bandicam 2021-11-08 19-22-20-564](https://user-images.githubusercontent.com/42398485/140753924-df4d9102-f72d-44cd-898e-c1a82a3f3115.jpg)

[2021-11-08 15:57] Oanh-and-only-Oanh commented on #49
Please proceed with the the same behavior as with Community app.

[2021-11-08 17:25] LieutenantRoger commented on #59
This appears to be an issue of API. I'll fix the API firstly.

[2021-11-09 03:17] LieutenantRoger commented on #59
This appears to be a bad data issue: https://prnt.sc/1yu82yq

See the job data, the maxSalary is 0 but the minSalary is 2000

I think we won't have such scenario in Prod data, https://www.topcoder.com/gigs

The frontend is displaying `2000+` if the max value is 0

[2021-11-09 04:49] codejamtc opened #60 "Lastest gig is appearing way more down on the list"
https://platform.topcoder-dev.com/earn/gigs/16364324961930010128CeR

When I post and approve the gigi from the `recruitcrm` it is appearing way more down on the list

![bandicam 2021-11-09 10-18-34-630](https://user-images.githubusercontent.com/42398485/140864204-256594d3-b696-49a2-add2-1259e7ee7720.jpg)

[2021-11-09 04:54] codejamtc opened #61 "The skills applied from the recruitcrm is not displayed on the gig"
**TaaS Job:** https://platform.topcoder-dev.com/taas/myteams/18978/positions/11b3660f-ec80-408f-bbe7-db0897766a44
**recruitcrm:** https://app.recruitcrm.io/job/16364324961930010128CeR
**Gig details and listing page:** https://platform.topcoder-dev.com/earn/gigs/16364324961930010128CeR

![bandicam 2021-11-09 10-20-43-985](https://user-images.githubusercontent.com/42398485/140864740-ac07eabc-46b8-4a

[2021-11-09 04:57] #61 closed

[2021-11-09 05:08] LieutenantRoger commented on #60
@codejamtc Please read this snapshot and see if it helps you understand it.

https://prnt.sc/1yujv0s

[2021-11-09 05:18] codejamtc commented on #60
@LieutenantRoger Thanks for the information; I posted another one and it appears above the last one. As per the above comment I am closing this issue

[2021-11-09 05:18] #60 closed

[2021-11-09 05:19] codejamtc opened #62 "The description posted via the TaaS is not appearing properly on the gig details page"
https://platform.topcoder-dev.com/earn/gigs/16364343558620010128EOf

![bandicam 2021-11-09 10-48-46-667](https://user-images.githubusercontent.com/42398485/140866936-39cba062-c453-4e0d-b0a6-82e8f145f923.jpg)

https://platform.topcoder-dev.com/taas/myteams/18978/positions/08b91b83-539f-4200-b50f-49e09dd28e1c

![bandicam 2021-11-09 10-48-43-776](https://user-images.githubusercontent.com/42398485/140

[2021-11-09 05:42] codejamtc opened #63 "After applying for a gig from the ref link; and going to the my gig page won't show the gig on the list"
After applying for a gig from the ref link; and going to the my gig page won't show the gig on the list; user needs to alwasy refresh the page

https://user-images.githubusercontent.com/42398485/140869006-25cf7186-9689-4c16-bd5b-93f63ce20908.mp4

https://user-images.githubusercontent.com/42398485/140869017-c68e58a9-0762-46ff-9255-f424a420e7bd.mp4

[2021-11-09 06:24] codejamtc opened #64 "Ref Link is not displayed on the recruitcrm"
- Login as codejam_copilot
- Open a gig and get the ref code URL https://platform.topcoder-dev.com/earn/gigs/16364324961930010128CeR?referralId=j00qmq
- Login as another user and open the link https://platform.topcoder-dev.com/earn/gigs/16364324961930010128CeR?referralId=j00qmq
- Apply for the gig
- Go to recruitcrm
- Check the ref link https://app.recruitcrm.io/candidate-sequence/1636432496193001

[2021-11-09 06:25] codejamtc commented on #64
@LieutenantRoger

[2021-11-09 08:59] LieutenantRoger commented on #63
This is expected, after applying a job, the job won't show up in my-gigs immediately.  synch=true indicates the syncing process finished, and the job is ready to display on my-gigs:

See the recording for it.   The syncing process will be faster in PROD, it seems to me the syncing process in DEV is a bit slow.

https://drive.google.com/file/d/1u1OI2JWmnNGuddk2HbFv-oQ-3lwU1M4f/view?usp=sharing

[2021-11-09 09:27] codejamtc commented on #54
@LieutenantRoger Still I can see
![bandicam 2021-11-09 14-56-59-133](https://user-images.githubusercontent.com/42398485/140898147-585d25a0-5946-4b56-b0d1-8fe4761665bc.jpg)

[2021-11-09 10:08] codejamtc commented on #58
https://user-images.githubusercontent.com/42398485/140904727-b49da310-f40f-4705-8bdc-18500db7ba18.mp4

[2021-11-09 11:04] codejamtc commented on #56
https://user-images.githubusercontent.com/42398485/140913009-c99c59b5-9a61-4888-9d81-310e7d0eeacc.mp4

[2021-11-09 11:07] codejamtc commented on #43
I can't reproduce it anymore hence marking it as `Pass`

https://user-images.githubusercontent.com/42398485/140913399-6c5433e8-5cd1-4082-bd26-fd8d024b377c.mp4

[2021-11-09 18:44] codejamtc commented on #64
https://user-images.githubusercontent.com/42398485/140985248-e850d778-16b0-43c2-9161-3f10a0e4e209.mp4

![bandicam 2021-11-10 00-10-52-730](https://user-images.githubusercontent.com/42398485/140985270-c51632e3-3ace-46c9-8310-4ed74eac75d0.jpg)

[2021-11-09 18:47] codejamtc commented on #55
@LieutenantRoger I can see the same behaviour when I follow below steps

- Open the application and login
- Open the gig listing page and click on the https://platform.topcoder-dev.com/earn/gigs/16333315679080010128hMz
- Click Apply and complete the form and submit
- When all completed click on the '< Back' from the submit confirmation page
- When we land on the gig details page
- Click 'Apply to

[2021-11-10 03:10] codejamtc commented on #54
![bandicam 2021-11-10 08-40-28-181](https://user-images.githubusercontent.com/42398485/141042712-a6d21ea1-5f59-4f67-ac9d-f7dffbf5924c.jpg)

https://user-images.githubusercontent.com/42398485/141042727-2785bef8-4111-49e6-82e5-2a77bb62a92f.mp4

[2021-11-10 04:09] codejamtc commented on #64
- Using the `Your referral link` https://platform.topcoder-dev.com/earn/gigs?referralId=9gp7uw

https://user-images.githubusercontent.com/42398485/141048061-786d7c86-de8e-4c39-a255-94529a8d2e64.mp4

- Using the gig details page `referral link` https://platform.topcoder-dev.com/earn/gigs/16364343558620010128EOf?referralId=9gp7uw

https://user-images.githubusercontent.com/42398485/141048154-cbebcf28

[2021-11-10 12:17] codejamtc opened #66 ""Application" typo in the submission confirmation page"
![bandicam 2021-11-10 17-46-13-084](https://user-images.githubusercontent.com/42398485/141111670-4048752c-61d0-48eb-a739-1652985b774c.jpg)

[2021-11-10 16:32] codejamtc commented on #66
![bandicam 2021-11-10 22-02-17-522](https://user-images.githubusercontent.com/42398485/141153528-32de1e5e-9cdb-44a3-afab-91c0c52edbef.jpg)

[2021-11-11 05:42] #49 closed

[2021-11-11 05:43] #59 closed

[2021-11-11 06:15] codejamtc commented on #64
Yes, something is off now for new users. I tried with 2 new users and it didn't work
@picachui @LieutenantRoger

**Attempt 01:**

topcoderconnect+Manager@gmail.com > https://platform.topcoder-dev.com/earn/gigs/16359355488200010128Kef
Registered via mofexi9588@ecofreon.com

https://user-images.githubusercontent.com/42398485/141247466-6239a5a6-31b2-4462-8dac-e60549a72e98.mp4

**Attempt 02:**

topcod

[2021-11-11 09:28] LieutenantRoger commented on #64
@SathyaJayabal @codejamtc  how is the label for this ticket

[2021-11-11 09:55] SathyaJayabal commented on #64
@LieutenantRoger , lets test on prod and close if its all good.

[2021-11-11 10:11] LieutenantRoger commented on #64
ok, got it.

[2021-11-11 10:11] SathyaJayabal commented on #32
verified on prod
<img width="1440" alt="Screenshot 2021-11-11 at 3 37 16 PM" src="https://user-images.githubusercontent.com/58783823/141279980-064151fd-67f7-4b7c-bbda-601502d89788.png">

[2021-11-11 10:11] #32 closed

[2021-11-11 10:13] SathyaJayabal commented on #33
verified on prod
<img width="1440" alt="Screenshot 2021-11-11 at 3 41 58 PM" src="https://user-images.githubusercontent.com/58783823/141280222-9fec2c1b-3574-417c-8114-c95c6410ea99.png">

[2021-11-11 10:13] #33 closed

[2021-11-11 10:14] SathyaJayabal commented on #43
not reproducible

[2021-11-11 10:14] #43 closed

[2021-11-11 10:20] SathyaJayabal commented on #44
not seeing the issue on prod either

[2021-11-11 10:20] #44 closed

[2021-11-11 10:30] SathyaJayabal commented on #45
verified on prod

https://user-images.githubusercontent.com/58783823/141282678-7272f674-f608-4d24-967f-20ce67bd75bb.mov

[2021-11-11 10:30] #45 closed

[2021-11-11 10:39] SathyaJayabal commented on #47
verified on prod
<img width="1440" alt="Screenshot 2021-11-11 at 4 04 18 PM" src="https://user-images.githubusercontent.com/58783823/141283925-e4667959-e0a5-4000-9128-83d1f0930d4d.png">
<img width="1440" alt="Screenshot 2021-11-11 at 4 05 10 PM" src="https://user-images.githubusercontent.com/58783823/141283951-c723bd69-1a1c-45c6-957f-1adb8b4fb272.png">
<img width="1440" alt="Screenshot 2021-11-11

[2021-11-11 10:39] #47 closed

[2021-11-11 10:40] SathyaJayabal commented on #48
verified on prod
<img width="1440" alt="Screenshot 2021-11-11 at 4 09 36 PM" src="https://user-images.githubusercontent.com/58783823/141284154-795de824-912c-47b4-8b7d-9e5a5bd6d725.png">

[2021-11-11 10:40] #48 closed

[2021-11-11 10:44] SathyaJayabal commented on #50
verified on prod
1.
<img width="1440" alt="Screenshot 2021-11-11 at 4 11 06 PM" src="https://user-images.githubusercontent.com/58783823/141284781-6835f66f-8483-4cf6-a56b-80561f6909eb.png">

3. no example on prod

[2021-11-11 10:44] #50 closed

[2021-11-11 10:47] SathyaJayabal commented on #52
No example on prod where user doesnt have a country.

[2021-11-11 10:47] #52 closed

[2021-11-11 10:51] SathyaJayabal commented on #56
verified on prod
<img width="1440" alt="Screenshot 2021-11-11 at 4 20 16 PM" src="https://user-images.githubusercontent.com/58783823/141285663-307f7cea-0c10-4830-99be-c96dd9d148cd.png">

[2021-11-11 10:51] #56 closed

[2021-11-11 12:24] SathyaJayabal commented on #66
verified on prod
<img width="1440" alt="Screenshot 2021-11-11 at 5 53 17 PM" src="https://user-images.githubusercontent.com/58783823/141297500-816f91c8-522b-4cde-9c7b-e154aefdc25d.png">

[2021-11-11 12:24] #66 closed

[2021-11-11 12:26] SathyaJayabal commented on #54
verified on prod
<img width="1440" alt="Screenshot 2021-11-11 at 5 54 39 PM" src="https://user-images.githubusercontent.com/58783823/141297672-0a3b59c3-3dab-43c2-b78a-172935139fa4.png">

https://user-images.githubusercontent.com/58783823/141297684-5f6a4597-c401-42a6-82c5-592ed55a3bbb.mov

[2021-11-11 12:26] #54 closed

[2021-11-11 12:27] SathyaJayabal commented on #63
verified on prod, job showing up in my gigs after applying

[2021-11-11 12:27] #63 closed

[2021-11-11 12:32] SathyaJayabal commented on #55
verified on prod

https://user-images.githubusercontent.com/58783823/141298478-1e83c43f-5d62-4c95-8709-d7e0a06f0a57.mov

[2021-11-11 12:32] #55 closed

[2021-11-11 12:37] SathyaJayabal commented on #58
verified on prod

https://user-images.githubusercontent.com/58783823/141299130-aa576323-dab7-4b56-b2a8-09aeb4646377.mov

[2021-11-11 12:37] #58 closed

[2021-11-11 12:38] SathyaJayabal commented on #64
referral data is not getting tracked when we apply to a job from MFE.

[2021-11-11 12:44] SathyaJayabal commented on #62
A few styles are not rendered correctly , example:
<img width="1440" alt="Screenshot 2021-11-11 at 6 14 15 PM" src="https://user-images.githubusercontent.com/58783823/141300187-5a5ea3d6-1f4a-42ed-b559-d4d43f637601.png">

[2021-11-12 11:22] SathyaJayabal commented on #64
verified on prod. referrals are getting tracked.
<img width="1440" alt="Screenshot 2021-11-12 at 4 50 07 PM" src="https://user-images.githubusercontent.com/58783823/141459117-2d7d00fd-e7fd-4f8b-9ac6-2a31e2884702.png">
![image (37)](https://user-images.githubusercontent.com/58783823/141459130-222d3b7a-b46f-4099-98d6-2dbb8c3aa8d1.png)
![image (38)](https://user-images.githubusercontent.com/58783823/

[2021-11-12 11:22] #64 closed

[2021-11-12 12:54] LieutenantRoger commented on #62
https://monosnap.com/file/vnqzSylahTPM52b65k7mio5qcjL3NJ

[2021-11-12 12:55] LieutenantRoger commented on #62
Testing jobId: 16343745034380010128XDA

[2021-12-02 17:14] LieutenantRoger commented on #62
Fixed and Release to PROD

[2021-12-02 17:14] #62 closed

[2022-01-04 03:39] SathyaJayabal opened #81 "Exclude Onboarding flow for users registering form the gigs pages"
Exclude Onboarding flow for users registering form the gigs pages
https://github.com/topcoder-platform/micro-frontends-gigs-app/pull/80

[2022-01-06 10:12] SathyaJayabal commented on #81
verified on dev

[2022-01-10 13:23] SathyaJayabal commented on #81
verified on prod
https://docs.google.com/spreadsheets/d/1TIDLE1J-K8wRFYAzIGsCIEYgtqJZDZ2rg7ClTOw4gec/edit#gid=1453183067

[2022-02-15 09:43] SathyaJayabal opened #85 "User is able to access a closed job using the job details page url"
User is able to access a closed job using the job details page url
Expected: User should see a message like "Job has been full-filled" like on community app, in case the job has been closed or otherwise unavailable.

Example:
https://platform.topcoder.com/earn/gigs/16300042451840013350bRI https://www.topcoder.com/gigs/16300042451840013350bRI

[2022-02-16 17:30] LieutenantRoger commented on #85
In dev env, now any `not open job` or  `not active job` will display this screen.

![image](https://user-images.githubusercontent.com/2875203/154321970-65589e53-4658-4391-9c2e-a19789050e00.png)

[2022-02-18 15:49] SathyaJayabal commented on #85
verified on prod
<img width="1440" alt="Screenshot 2022-02-18 at 9 18 45 PM" src="https://user-images.githubusercontent.com/58783823/154715534-8dc28d3e-8ddf-4577-aab9-6998ae2de093.png">

[2022-02-18 15:49] #85 closed

[2022-02-19 06:50] LieutenantRoger opened #88 "All the gigs detail page can't be visited some time randomly"
Current Scenario:

When we use the gigs page for sometime, we would run into a state that all the gigs detail information can't be loaded. A snapshot to demonstrate this is

<img width="1516" alt="Screen Shot 2022-02-16 at 8 14 04 AM" src="https://user-images.githubusercontent.com/2875203/154790175-5b31b5f0-7581-4299-b95a-7e96db54f9a0.png">

Purpose:

1. Investigate on this issue to find the root

[2022-02-19 13:57] LieutenantRoger commented on #88
1. After some investigation and mock,  when we visit the gig detail page by passing an invalid token, for example ,in my case I passed the original token + `123`,  now every gig detail page will report me above Error.

https://monosnap.com/file/aB16tONr1wXSmsb1k4IPlktfJ8EShu

So the possible solution should always be validating the user token always in advance when we try to load the gig detail

[2022-02-19 15:40] LieutenantRoger commented on #88
Fix 2. So now when we retrieve the token, we will refresh the token if it's expired, hence the error won't happen for user with a cached expired token

[2022-02-23 16:28] LieutenantRoger opened #90 "Display the error message so we are clear about the error detail"
![image](https://user-images.githubusercontent.com/2875203/155362083-d29e0fd2-f1da-4e0a-ba97-ed84453c5ed8.png)
Currently this error message is a hard-code string displayed on the UI,

Long term solution: is to implement a log strategy which can structure all the API logs of the gigs app so we can observe all the errors happened on gigs MFE.

Short term solution: we append raw error message and dis

[2022-02-24 14:57] LieutenantRoger commented on #90
The API now only has status code returned without error message.

https://monosnap.com/file/o79oTwxtVyzvc7kKpLPgsYf6uREicL

So it will look like this

[2022-02-24 15:46] LieutenantRoger commented on #90
Verified the Prod doesn't have issue with this update

![image](https://user-images.githubusercontent.com/2875203/155558007-fff6d0ca-6e14-4038-8480-85f23db3478e.png)

[2022-02-24 15:46] #90 closed

[2022-03-18 08:52] sdgun opened #95 "Community Gig app is showing 0 results"
Steps
Go to https://www.topcoder-dev.com/gigs

It shows no results

![image](https://user-images.githubusercontent.com/4592712/158968891-581d7600-93f3-42f3-affb-9e5e1a5ebf4a.png)

[2022-03-18 08:56] sdgun opened #96 "MFE gig app is not showing any new jobs"
**Steps**
Add a new job from Taas app
Enable application form from RCRM
Go to EARN app >> Gigs (https://platform.topcoder-dev.com/earn/gigs?title=viewer&location=All&pay_min=0&pay_max=10000&by=date_added&order=desc&perpage=10&page=1)
Search for the above created job

Doesn't show any results

https://user-images.githubusercontent.com/4592712/158971155-fe9200a9-a562-45c5-aa21-29a08d50b140.mp4

[2022-03-22 04:42] sandhiyakavi commented on #96
Update: The new jobs are now displaying in MFE gigs app , but the user applying from Gig page is not added to the job and the job is not listed in the My-gigs page also.
Also even though the user has already applied for previous gigs, it is not displaying so

![image](https://user-images.githubusercontent.com/55895538/159409443-c77c98f9-c58b-4432-a6d1-eb48330ed542.png)

[2022-03-22 04:52] LieutenantRoger commented on #96
Yes, from the Error message, it said 401, let me double check the token, highly possible due to the token is changed in dev environment.

So this is a dev only issue, in PROD it should work like before

[2022-03-22 06:34] sdgun commented on #95
Verified in Dev, the existing jobs and new jobs are available now.

![image](https://user-images.githubusercontent.com/4592712/159421815-92beafe9-2149-460a-9361-56f87ff1b726.png)

[2022-03-22 06:34] #95 closed

[2022-03-22 06:36] sandhiyakavi commented on #96
Verified in Dev Env. Issue is resolved.

![image](https://user-images.githubusercontent.com/55895538/159421796-c411fea6-3531-4700-a3a6-42c726f1f548.png)
![image](https://user-images.githubusercontent.com/55895538/159421857-e2a4d288-11b8-428b-b0ce-bfbdbc674958.png)
![image](https://user-images.githubusercontent.com/55895538/159421960-cd7d2fda-3dae-49c6-8b8d-cccc73abb3d7.png)
![image](https://user-i

[2022-03-22 06:36] #96 closed